In [ ]:
from pycaret.regression import setup, compare_models, evaluate_model, predict_model, save_model, load_model

In [ ]:
import pandas as pd
weather = pd.read_csv('C:/Users/nasut/OneDrive/Documents/Kuliah/Semester 7/PKKM/BMKG/Project/Data/data_fix_temp.txt')

In [ ]:
weather.head()

,Date,lokasi,con_prec.mm.,mic_prec.mm.,sha_prec.mm.,suhu2m.degC.,dew2m.degC.,rh2m...,wspeed.m.s.,wdir.deg.,...,t500.degC.,rh500...,ws500.m.s.,wd500.deg.,hari,UTC,LAT,LON,ELEV,t_obs
1,2021-02-27 15:00:00,96001,0.0,0.0,0,27.3973,21.6059,70.8014,3.43326,12.4580,...,-5.20890,11.0889,6.22327,57.5841,0,12,5.87655,95.33785,126,23.2
2,2021-02-27 18:00:00,96001,0.0,0.0,0,27.0090,21.5161,72.0376,3.04901,27.2450,...,-5.05963,12.7044,5.96761,59.9813,0,12,5.87655,95.33785,126,23.0
3,2021-02-27 21:00:00,96001,0.0,0.0,0,26.5672,21.4226,73.5149,2.04556,37.3569,...,-4.89987,15.2381,7.04134,67.3222,0,12,5.87655,95.33785,126,21.6
4,2021-02-28 00:00:00,96001,0.0,0.0,0,26.4519,21.5400,74.5507,2.22508,20.1816,...,-4.72228,16.3007,7.54606,65.4942,0,12,5.87655,95.33785,126,19.8
5,2021-02-28 03:00:00,96001,0.0,0.0,0,26.7230,21.3691,72.6038,2.34268,14.7934,...,-4.64246,19.0442,8.93947,73.4932,0,12,5.87655,95.33785,126,28.4

In [ ]:
s = setup(weather, target='t_obs')

In [ ]:
best_model = compare_models()

In [ ]:
best_model = load_model('weather_extra_trees_regressor')

Transformation Pipeline and Model Successfully Loaded

In [ ]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
predict_model(best_model)

,Date,lokasi,con_prec.mm.,mic_prec.mm.,sha_prec.mm.,suhu2m.degC.,dew2m.degC.,rh2m...,wspeed.m.s.,wdir.deg.,...,rh500...,ws500.m.s.,wd500.deg.,hari,UTC,LAT,LON,ELEV,t_obs,prediction_label
175429,2023-01-08 12:00:00,96585,0.000000,0.000000e+00,0,25.304199,23.968201,92.453102,1.389680,269.322998,...,65.757599,4.96253,221.947006,1,12,-0.03000,109.339996,4,27.000000,26.131000
178634,2022-07-15 00:00:00,96595,0.000000,3.628550e-10,0,22.118200,20.974300,93.395897,1.468330,70.863602,...,94.068298,2.36861,158.968994,0,12,-0.56000,114.529999,42,24.000000,23.867000
336132,2021-02-28 03:00:00,97052,0.140991,4.579220e-07,0,30.474400,22.446199,62.346401,3.746830,333.725006,...,68.098999,2.85852,65.874199,0,12,0.55600,123.139999,15,33.200001,31.088000
85887,2021-07-11 06:00:00,96179,0.423017,0.000000e+00,0,27.414801,25.163601,87.658401,1.891930,70.289101,...,80.049896,9.54969,108.728996,0,12,-0.48000,104.580002,29,29.400000,28.495000
460195,2021-03-25 06:00:00,97560,2.274320,2.575820e-01,0,27.693100,25.479601,87.875702,2.483210,11.508500,...,75.106903,5.26443,124.314003,0,12,-1.19069,136.103607,3,29.400000,29.322000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260059,2021-10-15 00:00:00,96835,0.000000,0.000000e+00,0,28.448500,22.267300,69.326401,0.298020,212.244995,...,55.957401,2.04675,325.105011,0,12,-6.98470,110.381203,6,27.000000,27.189001
213058,2021-04-11 09:00:00,96733,13.504300,1.659780e-01,0,28.034599,24.590700,81.698196,0.823655,245.699005,...,82.407501,4.50605,260.329010,0,12,-6.26151,106.750801,27,24.799999,28.656000
35687,2022-01-18 09:00:00,96071,0.803764,6.765480e-04,0,27.254999,22.197399,74.018600,3.361040,50.410500,...,82.187103,3.68391,247.806000,0,12,1.55000,99.449997,281,27.200001,27.435000
310373,2021-12-17 18:00:00,96987,0.000000,0.000000e+00,0,23.060801,20.716000,86.805801,0.855329,273.988007,...,48.751999,4.04737,83.573303,0,12,-8.21500,114.355301,52,26.100000,26.291000
412854,2022-12-03 15:00:00,97284,0.000000,0.000000e+00,0,16.019300,14.791200,92.600899,1.049990,101.333000,...,36.849300,4.62420,91.714798,0,12,-8.63000,120.449997,1070,17.200001,17.744000

In [ ]:
save_model(best_model, 'weather_extra_trees_regressor')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['lokasi', 'con_prec.mm.',
                                              'mic_prec.mm.', 'sha_prec.mm.',
                                              'suhu2m.degC.', 'dew2m.degC.',
                                              'rh2m...', 'wspeed.m.s.',
                                              'wdir.deg.', 'lcloud...',
                                              'mcloud...', 'hcloud...',
                                              'surpre.Pa.', 'clmix.kg.kg.',
                                              'wamix.kg.kg.', 'outlr.W.m2.',
                                              'pblh.m.', 'lifcl.m.',
                                              'cape.j.kg.', 'mdbz', 't9...
                  TransformerWrapper(include=['Date'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('rest_encoding',
                  TransformerWrapper(include=['Date'],
                                     transformer=TargetEncoder(cols=['Date'],
                                                               handle_missing='return_nan'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=7907))]),
 'weather_extra_trees_regressor.pkl')